* {
  padding: 0;
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.card_contact{position: relative;}

.image_contact{
  height: 300px;
  width: 100%;
  object-fit:cover;
}
.head_text_contact {
  color: #fff;
  letter-spacing: 0.1em;
  font-weight: 500;
  font-size: 2rem;
  position: absolute;
  left: 10%;
  top: 40%;
}
.main-head {
  font-size: x-large;
  color: rgb(9, 158, 81);
}
.wrapper-left {
  width:50%;
  font-weight: bold;
  margin: auto;
}
.right{
    padding: 10% 10% 10% 18%;
}

@media(max-width:426px){
  .wrapper-left{width:100%;}
}
